snippet git_version
	`system('git rev-parse HEAD')`

snippet cwm
	componentWillMount = () => {
		${1}
	}

snippet cdm
	componentDidMount = () => {
		${1}
	}

snippet cwum
	componentWillUnmount = () => {
		${1}
	}

snippet cwrp
	componentWillReceiveProps = nextProps => {
		${1}
	}

snippet cdu
	componentDidUpdate = prevProps => {
		${1}
	}
