# git aliases
alias g='git'
alias ga='git add'
alias ga.='git add .'
alias gam='git amend'
alias gb='git branch'
alias gau='git add -u'
alias gs='git status'
alias gci='git commit -m '
alias gc='git checkout'
alias gc-='git checkout -'
alias gcm='git checkout master'
alias gcd='git checkout dev'
alias gd='git diff'
alias gdm='git diff master'
alias gdh='git diff HEAD'
alias gdh1='git diff HEAD~1'
alias gdh2='git diff HEAD~2'
alias gdh3='git diff HEAD~3'
alias grbm='git rebase master'
alias grb-='git rebase -'
alias gl='git log'
alias gps='git push'
alias gpu='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias gpl='git pull'
alias gup='git pull --rebase'
alias gsh='git stash'
alias gsp='git stash pop'
alias gm='git merge'
alias gm-='git merge -'
alias gu='git pull'
alias gg='git grep'

# tmux
alias tma='tmux attach -d -t'
alias tmn='tmux new -s'
alias tm="tmux attach -d || tmux new"

# ls
alias la='ls -al'
alias lsa='ls -a'
alias ll='ls -l'
alias l='ls'
export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx

# misc
alias e='exit'
alias brewi='HOMEBREW_NO_AUTO_UPDATE=1 brew install'

# editors
alias vi='vim'
alias mvi='mvim'
alias em='emacs -nw'
alias crontab="VIM_CRONTAB=true crontab"

# run commands
alias ys='yarn start'
alias npr="npm run"

# easier navigation
alias doc="cd ~/Documents"
alias docs="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dev="cd ~/dev"
alias dot="cd ~/dotfiles"
alias dots="cd ~/dotfiles"