[core]
	excludesfile = ~/.gitignore_global
	pager = more -R -F
	autocrlf = false
[user]
	name = Nick Aversano
	email = nick23hi@gmail.com
[credential]
	helper = osxkeychain
[alias]
	a = add
	aa = add .
	am = commit --amend
	amend = commit --amend -C HEAD
	b = branch
	br = branch
	c = checkout
	ca = commit -a -m
	ci = commit -m
	cm = commit -m
	co = checkout
	count = rev-list --all --count
	day = log --since '1 day ago' --oneline --author nick23hi@gmail.com
	dc = diff --cached
	dd = reset HEAD --
	di = checkout --
	discard = checkout --
	ds = diff --staged
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	last = log -1 HEAD
	master-alias = symbolic-ref refs/heads/m refs/heads/master
	me = "!git log --author=\"$(git config user.name)\""
	oc = checkout
  pub = publish
	review = remote update -p
	s = status
	st = status
	undo = reset --soft HEAD^
	unstage = reset HEAD --
	untrack = git rm --cached
	up = "!git remote update -p; git merge --ff-only @{u}"
	us = reset HEAD --
	week = log --since '1 week ago' --oneline --author nick23hi@gmail.com
  code = "!git diff $(git rev-list --max-parents=0 HEAD)"
[color]
	diff = auto
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
