# Your keymap
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/

'atom-workspace':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-w h': 'window:focus-pane-on-left'
  'ctrl-w l': 'window:focus-pane-on-right'
  'ctrl-w k': 'window:focus-pane-above'
  'ctrl-w j': 'window:focus-pane-below'
  'ctrl-w \\': 'pane:split-right'
  'ctrl-w -': 'pane:split-down'

'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-v': 'pane:split-right'
  'ctrl-s': 'pane:split-down'
  'ctrl-t': 'fuzzy-finder:invert-confirm'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-/': 'editor:toggle-line-comments'

'atom-text-editor.vim-mode-plus.normal-mode':
  ';': 'vim-mode-plus-ex-mode:open'
  'space': 'vim-mode-plus-ex-mode:open'
  't n': 'pane:show-next-item'
  't p': 'pane:show-previous-item'

'atom-text-editor[data-grammar="text html basic"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'
  'ctrl-e': 'emmet:expand-abbreviation'
